/* Figma Styles of your File */
:root {
  /* Colors */
  --d-9-d-9-d-9: #fef5f5;
  --fef-5-f-5: #fef5f5;
  --ff-4-d-80: rgba(255, 77, 128, 0.5);
  --_045585: #0c2da6;
  --linear: linear-gradient(
    100.12deg,
    rgba(4, 163, 252, 1) 0%,
    rgba(112, 0, 255, 1) 100%
  );

  /* Fonts */
  /* Effects */
}
